#slideshow {
    position: relative;
    width: 1700px;
    height: 720px;
    padding: 15px;
    margin: 98px auto 2em;
    background: linear-gradient(#202020, #202020 20%, #0C0C0C 80%, #0C0C0C);
}

#slideshow:before,
#slideshow:after {
    position: absolute;
    bottom: 16px;
    z-index: 5;
    width: 50%;
    height: 20px;
    content: " ";
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.4), 0 20px 10px rgba(0,0,0,0.7);
}

#slideshow:before {
    left:0;
    transform: rotate(-4deg);
}

#slideshow:after {
    right: 0;
    transform: rotate(4deg);
}

#slideshow .container {
    position: relative;
    width: 1700px;
    height: 720px;
    overflow: hidden;
    
}

#slideshow .container:after {
    position: absolute;
    bottom: 0; left: 0;
    content: " ";
    width: 100%;
    height: 0;
    background: #999;
}

.slideshow .slider{
    position: absolute;
    left: 0; top: 0;
    width: 400%;
    height: 280px;
}

#slideshow figure {
    position: relative;
    display: inline-block;
    padding: 0; margin: 0;
}

#slideshow figure:after {
    position: absolute;
    display: block;
    content: " ";
    top: 0; left: 0;
    width: 100%; height: 100%;
    box-shadow: 0 0 65px rgba(0,0,0,0.5) inset;
}

.container {
        width: 1700px;
        height: 720px;
        overflow: hidden;
    }

.slider{
    width: calc(1700px*4);
    animation: glisse 20s infinite;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    27% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-1700px);
    }
    60% {
        transform: translateX(-1700px);
    }
    66% {
        transform: translateX(-3400px);
    }
    93% {
        transform: translateX(-3400px);
    }
    100% {
        transform: translateX(-5100px);
    }
}

#timeline {
    position: absolute;
    background: #999;
    bottom: 15px;
    left: 15px;
    height: 1px;
    background: rgb(156,19,5);
    background: rgba(156,19,5,0.8);
    width: 0;
    animation: timeliner 20s infinite;
}

@keyframes timeliner {
    0%, 33%, 66%, 100% { width: 0;}
    27%, 60%, 93% { width: 1700px; }
}

.play_commands {
    position: absolute;
    top: 25px; right: 25px;
    z-index: 10;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    border:0 none;
    opacity: 1;
    transition: opacity 1s, right 1s;
}

.play { right: 55px; cursor: default; }

.pause:after,
.pause:before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    width: 38%;
    height: 22px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}

.pause:after { right:0; }
.pause:before { left:0; }

.play {
    width: 1px;
    height: 1px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #fff;
    border-left: 20px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
}

#slideshow:hover .pause,
.play_commands:focus {
    opacity: 1;
    outline: none;
}

.slide_command:target ~ #slideshow .slider,
.slide_command:target ~ #slideshow #timeline,
.slide_command:target ~ #slideshow .dots_commands li:first-child a:after {
    animation-play-state: paused;
}

#slide_play:target ~ #slideshow .slider,
#slide_play:target ~ #slideshow #timeline,
#slide_play:target ~ #slideshow .dots_commands li:first-child a:after {
    animation-play-state: running;
}

.slide_command:target ~ #slideshow .pause { opacity:0; }
#slide_play:target ~ #slideshow:hover .pause,
#slide_play:target ~ #slideshow .pause:focus { opacity:1; }
.slide_command:target ~ #slideshow .play { opacity:1; right: 25px; cursor: pointer; }
#slide_play:target ~ #slideshow .play { opacity:0; right: 55px; cursor: default; }

#slideshow .commands {
    position: absolute;
    top: 50%;
    padding: 5px 13px;
    border-bottom: 0;
    font-size: 5em;
    color: #FFFFFFFF;
    text-decoration: none;
}
 
#slideshow .prev { left: 15px; }
#slideshow .next { right: 15px; }
 
#slideshow .commands { display: none; }
#slideshow .commands1 { display: block; }

#slideshow .c_slider {
    position: absolute;
    left: 0; top: 0;
    width: 400%;
    height: 720px;
    background: url(images/Projector_3DX.png) 0 0 no-repeat,
                url(images/Projector_3DX_2.png) 1700px 0 no-repeat,
                url(images/Projector_3DX_3.png) 3400px 0 no-repeat;
    transition: background 1s;
}

.slide_i:target ~ #slideshow .slider { visibility: hidden; }
.slide_i:target ~ #slideshow .dots_commands li:first-child a:after { display: none; }
.slide_i:target ~ #slideshow .dots_commands li:first-child a:before { display: block; }

#slide_i1:target ~ #slideshow .commands { display: none; }
#slide_i1:target ~ #slideshow .commands1 { display: block; }
#slide_i1:target ~ #slideshow .c_slider { background-position: 0 0, 1700px 0, 3400px 0, 5100px 0; }
#slide_i1:target ~ #slideshow .dots_commands li:first-child a:before { left:0; }

#slide_i2:target ~ #slideshow .commands { display: none; }
#slide_i2:target ~ #slideshow .commands2 { display: block; }
#slide_i2:target ~ #slideshow .c_slider { background-position: -1700px 0, 0 0, 1700px 0, 3400px 0; }
#slide_i2:target ~ #slideshow .dots_commands li:first-child a:before   { left:18px; }

#slide_i3:target ~ #slideshow .commands { display: none; }
#slide_i3:target ~ #slideshow .commands3 { display: block; }
#slide_i3:target ~ #slideshow .c_slider { background-position: -3400px 0, -1700px 0, 0 0, 1700px 0; }
#slide_i3:target ~ #slideshow .dots_commands li:first-child a:before { left:36px; }

.dots_commands {
    padding: 0;
    margin: 5px;
    text-align: center;
}

.dots_commands li {
    display: inline;
    padding: 0; margin: 0;
}

.dots_commands a {
    position: relative;
    display: inline-block;
    height: 8px; width: 8px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}

.dots_commands a:focus {
    outline: none;
    background: red;
}

.dots_commands li:first-child a { z-index: 20; }

.dots_commands li:first-child a:after,
.dots_commands li:first-child a:before {
    position: absolute;
    top: 0; left: 0;
    content: " ";
    width: 8px; height: 8px;
    background: #bd9b83;
    z-index:15;

    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}

.dots_commands li:first-child a:after {
    animation: dotser 20s infinite;
}

.dots_commands li:first-child a:before { display: none; }

@keyframes dotser {
    0%, 100%    { opacity: 1; left: 0;      }
        
    29%         { opacity: 1; left: 0;      }
    30%         { opacity: 0; left: 0;      }
    31%         { opacity: 0; left: 18px;   }
    33%         { opacity: 1; left: 18px;   }
        
    61%         { opacity: 1; left: 18px;   }
    63%         { opacity: 0; left: 18px;   }
    64%         { opacity: 0; left: 36px;   }
    66%         { opacity: 1; left: 36px;   }
        
    95%         { opacity: 1; left: 36px;   }
    97%         { opacity: 0; left: 36px;   }
    98%         { opacity: 0; left: 0;  }
}

main{
    text-align:center;
}

article{
    margin: auto;
    padding: 20px 0;
    max-width: 60em;
    min-width: 30em;
}

h1{
    color: white;
    text-decoration-line:underline;
    text-decoration-style: solid;
    font-size: 500%
}

h2{
    color: white;
    text-decoration-line:underline;
    text-decoration-style: dotted;
    font-size: 300%;
}

h3{
    color: white;
}

p{
    color: white;
    max-width: 45em;
    margin:auto;
    font-size: 150%;
}

@media(max-width: 640px){
    article{
        margin:auto;
    }
}

.gauche {
    height: 250px;
    margin: 0px 10px 0px 0px;
    float: left;
}

.droite {
    height: 240px;
    margin: 0px 10px 0px 0px;
    float: right;
}

.image {
    height: 350px;
    margin: 20px 10px 0px 0px;

}

nav {
    z-index: 25
}